.port-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#port-title {
  font-size: 1.4rem;
  text-decoration: underline;
}

.port-info {
  width: 50%;
  padding: 0 24.8%;
  z-index: -1;
}

#port-info-text {
  text-align: center;
}

#port-pic {
  width: 49vw;
}

@media only screen and (max-width: 1000px) {

  .port-info {
    width: 100%;
    padding: 0 0;
  }
  
  #port-pic {
    width: 100vw;

  }


}