.home-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  text-align: center;
}

#home-title {
  color: white;
  text-align: center;
}

.about-info-container {
  padding: 0 20vw;
  display: flex;
  align-self: center;
}

#about-info {
  color: white;
  font-size: 1.5rem;
} 

#about-me-photo {
  width: 25vw;
  border-radius: 50%;
  align-self: center;
}

.skillphotos {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.skillphotos2 {
  display: flex;
  justify-content: center;
  gap: 50px;
}

#skill-photos {
  width: 6%;
  border: white solid 2px;
  background-color: white;
  border-radius: 30%;
}

#resume-home {
  text-decoration: underline;
  color: white;
}

@media only screen and (max-width: 750px) {

  .about-info-container {
    padding: 0 1vw;
    display: flex;
    align-self: center;
    width: 97vw;
  }
  
  #about-info {
    color: white;
    font-size: 3.5vw;
  } 

  #about-me-photo {
    width: 60vw;
    border-radius: 50%;
    align-self: center;
  }

  #skill-photos {
    width: 9%;
    border: white solid 2px;
    background-color: white;
    border-radius: 30%;
  }

}